<div id="foo">
    <div class="container" id="div1" *ngIf="createBtn">
        <button id="create" (click)="convert()">Create file</button> 
    </div>
    <div *ngIf="br" style="height: 26px"></div>

    <header>
    	<img src="assets/annexure.jpg" width="100%" style="position: absolute;z-index: -1">
    	<div style="position: absolute; top: 525px;left: 0px">
    		<h3 style="position: relative;top:50px;left:680px;text-align: center;width:400px;" contenteditable="true">Mahendra Babu D V</h3>

    		<h3 style="position: relative;top:55px;left:65px;text-align: center;width:355px;" contenteditable="true">Mahendra Babu D V</h3>

    		<h3 style="position: relative;top:200px;left:700px;text-align: center;width:590px;" contenteditable="true">Mahendra Babu D V</h3>
    		<h3 style="position: relative;top:210px;left:700px;text-align: center;width:590px;" contenteditable="true">Because JavaScript treats</h3>
    		<h3 style="position: relative;top:235px;left:700px;text-align: center;width:590px;" contenteditable="true">20/04/1994</h3>
    		<h3 style="position: relative;top:240px;left:700px;text-align: center;width:590px;vertical-align: middle;" contenteditable="true"> fixed point numbers badly (rounds to floating point nearest to binary representation) it is highly advised to communicate the fractional numbers</h3>
    		<h3 style="position: relative;top:325px;left:700px;text-align: center;width:590px;vertical-align: middle;" contenteditable="true"> communicate the fractional numbers</h3>

    		<h3 style="position: relative;top:320px;left:700px;text-align: center;width:590px;vertical-align: middle;" contenteditable="true"> communicate the fractional numbers</h3>
    	</div>
    	
    </header>

