<!-- <div class="loading">
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div> -->
<div class="row bg">
	<div class="container" style="text-align: center;">
		<div class="col-md-4 col-md-offset-4" style="position: relative;top: 100px">
			<img src="../assets/logo.png" width="80%">
			<br><br><br>
			<h2 >Login</h2>
			<form class="example-form" #f="ngForm" (ngSubmit)="loginSubmit(f.value)">
			  <mat-form-field class="example-full-width xl">
			    <input matInput placeholder="User Name" value="" name="username" [(ngModel)]="username" required>
			  </mat-form-field>
			  <br>
			  <mat-form-field class="example-full-width xl">
			    <input type="password" matInput placeholder="Password" value="" name="password" [(ngModel)]="password" required>
			  </mat-form-field>
			  <div class="row">
		   		<div class="col-md-4 col-md-offset-4">
		   		<div>
		   			<button  mat-raised-button color="primary" type="submit"  [disabled]="!f.valid">Login</button>
		   		
		   		</div>
		   		</div>
		   </div>
			</form>
			<br>
			<div class="alert alert-danger" role="alert" *ngIf="error"> {{msg}} </div>
		</div>
		
	</div>
</div>