<app-general-menu></app-general-menu>
<div class="container-fluid">


<br><br>

<div class="row">
  <div class="container">
  	<h2>Create New Pan Card Agent</h2>
  <div class="col-md-8">
	    <form class="example-form" #f="ngForm" (ngSubmit)="createAgent(f.value)">
	    	<div class="row">
	      		<div class="col-md-8">
			      <mat-form-field class="example-full-width xl">
			        <input matInput placeholder="Agent Name" [(ngModel)]="agentName" name="agentName" required>
			      </mat-form-field>
			     </div>
			  </div>
	      <br>	
	      <div class="row">
	      	<div class="col-md-6">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="User Name" [(ngModel)]="username" name="username" required>
		      </mat-form-field>
		     </div>
		     <div class="col-md-6">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="Password" [(ngModel)]="password" name="password" required>
		      </mat-form-field>
		     </div>
		   </div>
		   <br>
	      <div class="row">
	      	<div class="col-md-6">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="Father Name" [(ngModel)]="fatherName" name="fatherName" required>
		      </mat-form-field>
		     </div>
		     <div class="col-md-6">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="Mother Name " [(ngModel)]="motherName" name="motherName" required>
		      </mat-form-field>
		     </div>
		   </div>
	      <br>
	      <div class="row">
	      	<div class="col-md-6">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="Phone Number" [(ngModel)]="phoneNumber" name="phoneNumber" required maxlength="10" minlength="10">
		      </mat-form-field>
		     </div>
		      <div class="col-md-6">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="WhatsApp Number" [(ngModel)]="whatsAppNumber" name="whatsAppNumber" required maxlength="10" minlength="10">
		      </mat-form-field>
		     </div>
		   </div>
	      <br>
	      <div class="row">
	      	<div class="col-md-6">
		      <mat-form-field class="example-full-width xl">
		        <textarea matInput placeholder="Permanent Address" [(ngModel)]="permanentAddress" name="permanentAddress" required></textarea>
		      </mat-form-field>
		     </div>
		      <div class="col-md-6">
		      <mat-form-field class="example-full-width xl">
		        <textarea matInput placeholder="Communication  address" [(ngModel)]="communicationAddress" name="communicationAddress" required></textarea>
		      </mat-form-field>
		     </div>
		   </div>
		   <br>
		   <div class="row">
		   		<div class="col-md-6">
			   		<div class="row">
			   			 <mat-checkbox class="example-margin">Normal - 110 Rs</mat-checkbox>
			   		</div>	
			   		<div class="row">
			   			 <mat-checkbox class="example-margin">Gazetted And Domicile - 150 Rs</mat-checkbox>
			   		</div>	
			   		<div class="row">
			   			 <mat-checkbox class="example-margin">Flat - 150 Rs</mat-checkbox>
			   		</div>	
			   		<div class="row">
			   			 <mat-checkbox class="example-margin">Gazetted And Domicile and Notary - 170 Rs</mat-checkbox>
			   		</div>	
			   		<div class="row">
			   			 <mat-checkbox class="example-margin">Normal and Notary - 160 Rs</mat-checkbox>
			   		</div>	
			   		
		   		 </div>
		   		<div class="col-md-6">
		   		 <mat-checkbox class="example-margin" [(ngModel)]="sms" name="sms" >SMS Alert</mat-checkbox>
		   		</div>
		   </div>
		   <br>
	      
		   <div class="row">
		   		<div class="col-md-12">
		   		<div class="pull-right">
		   			<button  mat-raised-button color="primary" type="submit" name="submit" [disabled]="!f.valid">Create Agent</button>
		   		
		   			<button mat-raised-button color="warn" type="reset" name="reset">Reset</button>
		   		</div>
		   		</div>
		   </div>


	    

	      <!-- <mat-form-field class="example-full-width">
	        <input matInput placeholder="Email" [formControl]="emailFormControl">
	        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
	          Please enter a valid email address
	        </mat-error>
	        <mat-error *ngIf="emailFormControl.hasError('required')">
	          Email is <strong>required</strong>
	        </mat-error>
	      </mat-form-field> -->
	    </form>

  </div>
  <div class="col-md-4">
  	<table class="table table-bordered">
  		<thead>
  			<th> SL.No </th>
  			<th> Application Type </th>
  			<th> Charges </th>
  		</thead>
  		<tr>
  			<td>1</td>
  			<td>Normal </td>
  			<td>110</td>
  		</tr>
  		<tr>
  			<td>2</td>
  			<td>Gazetted And Domicile </td>
  			<td>150</td>
  		</tr>
  		<tr>
  			<td>3</td>
  			<td>Flat  </td>
  			<td>150</td>
  		</tr>
  		<tr>
  			<td>4</td>
  			<td>Gazetted And Domicile and Notary </td>
  			<td>170</td>
  		</tr>
  		<tr>
  			<td>5</td>
  			<td>Normal and Notary </td>
  			<td>160</td>
  		</tr>

  	</table>
  </div>
</div>
</div>
</div>

<br><br>


