<app-general-menu></app-general-menu>
<div class="container-fluid">
<!-- <ng2-smart-table [settings]="settings" [(source)]="users"></ng2-smart-table> -->

<br><br>
 
<div class="row">
  <!-- <div class="container">
  	<h2>New Pan Card Entry</h2>
  	<br>
  </div> -->
  <div class="container-fluid">
	    <div class="example-header">
		  <mat-form-field>
		    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		  </mat-form-field>
		</div>

		<!-- <div class="example-container mat-elevation-z8">

		  <mat-table [dataSource]="dataSource" matSort>

		
		    <ng-container matColumnDef="id">
		      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
		      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
		    </ng-container>

		
		    <ng-container matColumnDef="Category_of_Applicant">
		      <mat-header-cell *matHeaderCellDef mat-sort-header> Category_of_Applicant </mat-header-cell>
		      <mat-cell *matCellDef="let row"> {{row.Category_of_Applicant}} </mat-cell>
		    </ng-container>


		    <ng-container matColumnDef="name">
		      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
		      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
		    </ng-container>

	
		    <ng-container matColumnDef="color">
		      <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
		      <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>
		    </ng-container>

		    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		    <mat-row *matRowDef="let row; columns: displayedColumns;">
		    </mat-row>
		  </mat-table>

		  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
		</div> -->
		<div style="width: 100%;overflow: auto;height: 600px">
		<table class="table table-bordered table-striped" style="font-size: 0.8em;">
			<thead style="background: #60baff;color: #fff">
				<th *ngIf="isAdmin" style="border:1px solid #999; padding: 5px">Action</th>
				<th style="border:1px solid #999; padding: 5px">Tracking Id</th>
				<th style="border:1px solid #999; padding: 5px">Type</th>
				<th style="border:1px solid #999; padding: 5px">Pan Number</th>
				<th style="border:1px solid #999; padding: 5px">Acknowledgement Number</th>
				<th style="border:1px solid #999; padding: 5px">courier Tracking Number</th>
				<th style="border:1px solid #999; padding: 5px">status</th>
				<th style="border:1px solid #999; padding: 5px">Category of Applicant</th>
				<th style="border:1px solid #999; padding: 5px">date</th>
				<th style="border:1px solid #999; padding: 5px">lastName</th>
				<th style="border:1px solid #999; padding: 5px">middleName</th>
				<th style="border:1px solid #999; padding: 5px">nameOnCard</th>
				<th style="border:1px solid #999; padding: 5px">fatherLastName</th>
				<th style="border:1px solid #999; padding: 5px">fatherFirstName</th>
				<th style="border:1px solid #999; padding: 5px">fatherMiddleName</th>
				<th style="border:1px solid #999; padding: 5px">DOB</th>
				<th style="border:1px solid #999; padding: 5px">stdCode</th>
				<th style="border:1px solid #999; padding: 5px">telephoneNumber</th>
				<th style="border:1px solid #999; padding: 5px">whatsAppNumber</th>
				<th style="border:1px solid #999; padding: 5px">email</th>
				<th style="border:1px solid #999; padding: 5px">addressForCommunication</th>
				<th style="border:1px solid #999; padding: 5px">nameAsPerAadhar</th>
				<th style="border:1px solid #999; padding: 5px">panCardDispatchedState</th>
				<th style="border:1px solid #999; padding: 5px">Processing Fees</th>
				<th style="border:1px solid #999; padding: 5px">permanent_address</th>
				<th style="border:1px solid #999; padding: 5px">dispatched_address</th>
				<th style="border:1px solid #999; padding: 5px">File</th>
				<th style="border:1px solid #999; padding: 5px">Created By</th>
				<th style="border:1px solid #999; padding: 5px">User Type</th>
				<th style="border:1px solid #999; padding: 5px">Created On</th>
				<th style="border:1px solid #999; padding: 5px">Updated On</th>

			</thead>
			<tr *ngFor="let pan of panList">
				<td *ngIf="isAdmin">
					<button mat-raised-button color="warn" data-toggle="modal" data-target=".modal"  (click)="showActions(pan.id)"><i class="material-icons">&#xE22B;</i> </button>
				</td>
				<td>{{pan.tracking_id}}</td>
				<td>{{pan.type}}</td>
				<td>{{pan.pan_number}}</td>
				<td>{{pan.acknowledgementNumber}}</td>
				<td>{{pan.courier_tracking_number}}</td>
				<td>{{pan.status}}</td>
				<td>{{pan.Category_of_Applicant}}</td>
				<td>{{pan.date | date}}</td>
				<td>{{pan.lastName}}</td>
				<td>{{pan.middleName}}</td>
				<td>{{pan.nameOnCard}}</td>
				<td>{{pan.fatherLastName}}</td>
				<td>{{pan.fatherFirstName}}</td>
				<td>{{pan.fatherMiddleName}}</td>
				<td>{{pan.DOB | date}}</td>
				<td>{{pan.stdCode}}</td>
				<td>{{pan.telephoneNumber}}</td>
				<td>{{pan.whatsAppNumber}}</td>
				<td>{{pan.email}}</td>
				<td>{{pan.addressForCommunication}}</td>
				<td>{{pan.nameAsPerAadhar}}</td>
				<td>{{pan.panCardDispatchedState}}</td>
				<td>{{pan.fees}}</td>
				<td>{{pan.permanent_address}}</td>
				<td>{{pan.dispatched_address}}</td>
				<td><a [href]="apiRoot+'uploads/'+pan.file" target="_blank"><button mat-raised-button color="primary" type="button">View Document</button> </a></td>
				<td>{{pan.username}}</td>
				<td>{{pan.userType}}</td>
				<td>{{pan.pan_created_at | date}}</td>
				<td>{{pan.pan_updated_at | date}}</td>
			</tr>
		</table>
		</div>

		<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="gridSystemModalLabel">Update Status</h4>
		      </div>
		      	<form class="example-form" #f="ngForm" (ngSubmit)="updatePan(f.value)">
		      <div class="modal-body">
		       

		       		<div class="row">
				      	
					     <div class="col-md-12">
					      <mat-form-field class="example-full-width xl">
					        <input matInput placeholder="Acknowledgement Number" name="acknowledgementNumber" [(ngModel)]="acknowledgementNumber"  >
					      </mat-form-field>
					     </div>
					     <div class="col-md-12">
					      <mat-form-field class="example-full-width xl">
					        <input matInput placeholder="Pan Number" name="pan_number" [(ngModel)]="pan_number" >
					      </mat-form-field>
					     </div>

					     <div class="col-md-12">
					      <mat-form-field class="example-full-width xl">
					        <input matInput placeholder="Dispatch Through NSDL Post / Courier Tarcking Number" name="courier_tracking_number" [(ngModel)]="courier_tracking_number"  >
					      </mat-form-field>
					     </div>
					     <div class="col-md-12">
					      	<select class="form-control" name="status" [(ngModel)]="status">
					      		<option *ngFor="let stat of statuses" [value]="stat.value">
							      {{ stat.value }}</option>
					      	</select>
					     </div>
					   </div>
		       	
		      </div>
		      <div class="modal-footer">
		        <button type="button" mat-raised-button color="default" data-dismiss="modal">Close</button>
		        <button type="submit" mat-raised-button color="primary">Save changes</button>
		      </div>
		      </form>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
  </div>
  

</div>
</div>

<br><br>


