th{margin: 3px;}

.mod{
	    position: fixed;
    background: #ffffff;
    height: 350px;
    width: 600px;
    top: 150px;
    left: 420px;
    box-shadow: 0px 2px 5px silver;
}


.md{
	width: 50%;
}

.l{
	width: 250px
}

.xl{
	width: 100%;
}

p{
	color: #03a9f4;
}