<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="">
		      <mat-card class="example-card">
		        <mat-card-header>
		          <div mat-card-avatar class="example-header-image"></div>
		          <mat-card-title>Shiba Inu</mat-card-title>
		          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
		        </mat-card-header>
		        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
		        <mat-card-content>
		          <p>
		            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
		            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
		            bred for hunting.
		          </p>
		        </mat-card-content>
		        <mat-card-actions>
		          
		        </mat-card-actions>
		      </mat-card>

		    </div>
		</div>
		<div class="col-md-8">
			<mat-tab-group class="demo-tab-group">
			  <mat-tab label="4th Jan">
			    <div class="demo-tab-content">
			      <div class="shows col-md-12">
			      	<div class="col-md-4">
			      		<b>Cinepolis Fun Cinemas</b>
			      		<br>
			      		<small> Sigma Mall, Cunningham Road</small>
			      	</div>
			      	<div class="col-md-8">
			      		 <button mat-button color="primary">10:15 AM</button>
			      		 <button mat-button color="primary">01:15 PM</button>
			      		 <button mat-button color="primary">04:15 PM</button>
			      		 <button mat-button color="primary">07:15 PM</button>
			      		 <button mat-button color="primary">10:15 PM</button>
			      	</div>
			      </div>
			      <div class="shows col-md-12">
			      	<div class="col-md-4">
			      		<b>Cinepolis Fun Cinemas</b>
			      		<br>
			      		<small> Sigma Mall, Cunningham Road</small>
			      	</div>
			      	<div class="col-md-8">
			      		<button mat-button color="primary">10:15 AM</button>
			      		 <button mat-button color="primary">01:15 PM</button>
			      		 <button mat-button color="primary">04:15 PM</button>
			      		 <button mat-button color="primary">07:15 PM</button>
			      		 <button mat-button color="primary">10:15 PM</button>
			      	</div>
			      </div>

			      <div class="shows col-md-12">
			      	<div class="col-md-4">
			      		<b>Cinepolis Fun Cinemas</b>
			      		<br>
			      		<small> Sigma Mall, Cunningham Road</small>
			      	</div>
			      	<div class="col-md-8">
			      		<button mat-button color="primary">10:15 AM</button>
			      		 <button mat-button color="primary">01:15 PM</button>
			      		 <button mat-button color="primary">04:15 PM</button>
			      		 <button mat-button color="primary">07:15 PM</button>
			      		 <button mat-button color="primary">10:15 PM</button>
			      	</div>
			      </div>



			    </div>
			  </mat-tab>
			  <mat-tab label="4th Jan">
			    <div class="demo-tab-content">
			      <div class="shows col-md-12">
			      	<div class="col-md-4">
			      		<b>Cinepolis Fun Cinemas</b>
			      		<br>
			      		<small> Sigma Mall, Cunningham Road</small>
			      	</div>
			      	<div class="col-md-8">
			      		 <button mat-button color="primary">10:15 AM</button>
			      		 <button mat-button color="primary">01:15 PM</button>
			      		 <button mat-button color="primary">04:15 PM</button>
			      		 <button mat-button color="primary">07:15 PM</button>
			      		 <button mat-button color="primary">10:15 PM</button>
			      	</div>
			      </div>
			      <div class="shows col-md-12">
			      	<div class="col-md-4">
			      		<b>Cinepolis Fun Cinemas</b>
			      		<br>
			      		<small> Sigma Mall, Cunningham Road</small>
			      	</div>
			      	<div class="col-md-8">
			      		<button mat-button color="primary">10:15 AM</button>
			      		 <button mat-button color="primary">01:15 PM</button>
			      		 <button mat-button color="primary">04:15 PM</button>
			      		 <button mat-button color="primary">07:15 PM</button>
			      		 <button mat-button color="primary">10:15 PM</button>
			      	</div>
			      </div>

			      <div class="shows col-md-12">
			      	<div class="col-md-4">
			      		<b>Cinepolis Fun Cinemas</b>
			      		<br>
			      		<small> Sigma Mall, Cunningham Road</small>
			      	</div>
			      	<div class="col-md-8">
			      		<button mat-button color="primary">10:15 AM</button>
			      		 <button mat-button color="primary">01:15 PM</button>
			      		 <button mat-button color="primary">04:15 PM</button>
			      		 <button mat-button color="primary">07:15 PM</button>
			      		 <button mat-button color="primary">10:15 PM</button>
			      	</div>
			      </div>



			    </div>
			  </mat-tab>
			  <mat-tab label="5th Jan">
			    <div class="demo-tab-content">
			      <div class="shows col-md-12">
			      	<div class="col-md-4">
			      		<b>Cinepolis Fun Cinemas</b>
			      		<br>
			      		<small> Sigma Mall, Cunningham Road</small>
			      	</div>
			      	<div class="col-md-8">
			      		 <button mat-button color="primary">10:15 AM</button>
			      		 <button mat-button color="primary">01:15 PM</button>
			      		 <button mat-button color="primary">04:15 PM</button>
			      		 <button mat-button color="primary">07:15 PM</button>
			      		 <button mat-button color="primary">10:15 PM</button>
			      	</div>
			      </div>
			     

			      <div class="shows col-md-12">
			      	<div class="col-md-4">
			      		<b>Cinepolis Fun Cinemas</b>
			      		<br>
			      		<small> Sigma Mall, Cunningham Road</small>
			      	</div>
			      	<div class="col-md-8">
			      		<button mat-button color="primary">10:15 AM</button>
			      		 <button mat-button color="primary">01:15 PM</button>
			      		 <button mat-button color="primary">04:15 PM</button>
			      		 <button mat-button color="primary">07:15 PM</button>
			      		 <button mat-button color="primary">10:15 PM</button>
			      	</div>
			      </div>



			    </div>
			  </mat-tab>
			 
			  
			</mat-tab-group>

		</div>
	</div>
</div>