<mat-toolbar color="primary" *ngIf="admin">
  <mat-toolbar-row>
    <span><img src="../assets/logo.png" ></span>

    <span class="example-spacer"></span>
   
    <a href="#" (click)="logout()"> <button type="button" mat-button>Logout</button></a>

    <a href="/new-pan-entry"><button mat-button>Pan Entry</button></a>
    <a href="/pan-list"><button mat-button>Pan List</button></a>
    <a href="/create-agent"><button type="button" mat-button>Create New Agent</button></a>
    <button type="button" mat-button>Wallet</button>
    <button type="button" mat-button>Profile</button>

     <div class="example-tooltip-host" matTooltip="Menu" [matTooltipPosition]="position">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
     </button>
     </div>
          <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voicemail</span>
            </button> -->
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar style="background-color: #00BCD4" *ngIf="agent">
  <mat-toolbar-row>
    <span><img src="../assets/logo.png" ></span>

    <span class="example-spacer"></span>
   
    <a href="#" (click)="logout()"> <button type="button" mat-button>Logout</button></a>

    <a href="/new-pan-entry"><button mat-button>Pan Entry</button></a>
    <button type="button" mat-button>Wallet</button>
    <button type="button" mat-button>Profile</button>

     <div class="example-tooltip-host" matTooltip="Menu" [matTooltipPosition]="position">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
     </button>
     </div>
          <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voicemail</span>
            </button> -->
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>





<!-- <app-footer></app-footer> -->