.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}


mat-spinner{
	stroke-width: 1%;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

a{
	color: #eee;
	text-decoration: none;
}