<div id="foo">
    <div class="container" id="div1" *ngIf="createBtn">
        <button id="create" (click)="convert()">Create file</button> 
    </div>
    <div *ngIf="br" style="height: 26px"></div>
<div class="container">
    <header>
    	<img src="assets/domicile.jpg" width="100%" style="position: absolute;z-index: -1">
    	<div style="position: absolute; top: 725px;left: 400px">
    		<pre style="font-size: 20px;padding: 0;background-color:transparent;border:none;    line-height: 1.8;">
   	Mahendra Babu D V
     20                       04                              1994
    		</pre>
    	</div>
    	
    </header>

</div>