<app-general-menu></app-general-menu>
<div class="container-fluid">


<br><br>
 
<div class="row">
  <div class="container">
  	<h2>Update Pan</h2>
  	<br>
  <div class="col-md-12">
	    <form class="example-form" #f="ngForm" (ngSubmit)="newPan(f.value)">
	    	<div class="row">
	    		<div class="col-md-4">
			      <mat-form-field class="example-full-width xl">
					  <mat-select placeholder="Type" name="type" [(ngModel)]="type" required >
					    <mat-option *ngFor="let type of types" [value]="type.value">
					      {{ type.value }}
					    </mat-option>
					  </mat-select>
					</mat-form-field>
			     </div>
	      		<div class="col-md-4">
			      <mat-form-field class="example-full-width xl">
					  <mat-select placeholder="Category of Applicant" name="Category_of_Applicant" [(ngModel)]="Category_of_Applicant"  required>
					    <mat-option *ngFor="let cat of category" [value]="cat.value">
					      {{ cat.viewValue }}
					    </mat-option>
					  </mat-select>
					</mat-form-field>
			     </div>
			     <div class="col-md-4">
			       <mat-form-field class="example-full-width xl">
					  <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="date" [(ngModel)]="date" required >
					  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					  <mat-datepicker touchUi="true" #picker></mat-datepicker>
					</mat-form-field>
			     </div>
			  </div>
	    

	      <div class="row">
	      	<div class="col-md-3">
		      <p>Applicant's name</p>
		     </div>
		     <div class="col-md-3">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="Last Name / Surname" name="lastName" [(ngModel)]="lastName"   >
		      </mat-form-field>
		     </div>
		     <div class="col-md-3">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="First Name" name="firstName" [(ngModel)]="firstName" >
		      </mat-form-field>
		     </div>
		     <div class="col-md-3">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="Middle Name" name="middleName" [(ngModel)]="middleName"  >
		      </mat-form-field>
		     </div>
		   </div>

		   <div class="row">
	      	<div class="col-md-3">
		      <p>Name on Card</p>
		     </div>
		     <div class="col-md-6">
		      <mat-form-field class="example-full-width xl" >
		        <input matInput placeholder="Name on Card" name="nameOnCard" [(ngModel)]="nameOnCard" required >
		      </mat-form-field>
		     </div>
		   </div>

		   <div class="row">
	      	<div class="col-md-3">
		      <p>Father's Name</p>
		     </div>
		     <div class="col-md-3">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="Father's Last Name" name="fatherLastName" [(ngModel)]="fatherLastName"  >
		      </mat-form-field>
		     </div>
		     <div class="col-md-3">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="First Name" name="fatherFirstName" [(ngModel)]="fatherFirstName"  >
		      </mat-form-field>
		     </div>
		     <div class="col-md-3">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="Middle Name" name="fatherMiddleName" [(ngModel)]="fatherMiddleName"  >
		      </mat-form-field>
		     </div>
		   </div>

		   <div class="row">
	      	<div class="col-md-3">
		      <p>Date Of Birth/Incorporation</p>
		     </div>
		      <div class="col-md-6">
			       <mat-form-field class="example-full-width md">
					  <input matInput [matDatepicker]="picker2" placeholder="Choose a date" name="DOB" [(ngModel)]="DOB"  >
					  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
					  <mat-datepicker touchUi="true" #picker2></mat-datepicker>
					</mat-form-field>
			     </div>
		   </div>

		   <div class="row">
	      	<div class="col-md-3">
		      <p>Contact Details</p>
		     </div>
		     <div class="col-md-3">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="Std Code" name="stdCode" [(ngModel)]="stdCode"  >
		      </mat-form-field>
		     </div>
		     <div class="col-md-3">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="Telephone Number" name="telephoneNumber" [(ngModel)]="telephoneNumber"   maxlength="10" minlength="10">
		      </mat-form-field>
		     </div>
		     <div class="col-md-3">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="Whats up Number" name="whatsAppNumber" [(ngModel)]="whatsAppNumber"   maxlength="10" minlength="10">
		      </mat-form-field>
		     </div>
		   </div>
	      
	      <div class="row">
	      	<div class="col-md-3">
		      <p>Email ID</p>
		     </div>
		     <div class="col-md-3">
		      <mat-form-field class="example-full-width xl">
		        <input type="email" matInput placeholder="Email ID"   name="email" [(ngModel)]="email"  >
		      </mat-form-field>
		     </div>
		     
		     <div class="col-md-3">
		      <mat-form-field class="example-full-width xl">
		        <mat-select placeholder="Address For Communication" name="addressForCommunication" [(ngModel)]="addressForCommunication"  >
				    <mat-option *ngFor="let add of address" [value]="add.value">
				      {{ add.viewValue }}
				    </mat-option>
				  </mat-select>
		      </mat-form-field>
		     </div>
		   </div>

		   <div class="row">
	      	<div class="col-md-3">
		      <p>Name As Per Aadhaar</p>
		     </div>
		     <div class="col-md-6">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="Name As Per Aadhaar" name="nameAsPerAadhar" [(ngModel)]="nameAsPerAadhar"  >
		      </mat-form-field>
		     </div>
		   </div>
		   <div class="row">
		   	<div class="col-md-3">
		      <p>Pan Card Dispatched State</p>
		     </div>
		     <div class="col-md-3">
		      <mat-form-field class="example-full-width xl">
		        <mat-select placeholder="Pan Card Dispatched State" name="panCardDispatchedState" [(ngModel)]="panCardDispatchedState"  >
				    <mat-option *ngFor="let state of states" [value]="state.name">
				      {{ state.name }}
				    </mat-option>
				  </mat-select>
		      </mat-form-field>
		     </div>
		   </div>

		   <div class="row">
	      	<div class="col-md-3">
		      <p>Aadhaar/EID</p>
		     </div>
		     <div class="col-md-3">
		     		Aadhar : <input type="radio" name="Aadhaar_EID"  [(ngModel)]="Aadhaar_EID" value="aadhar" (click)="set_aadhar_eid('aadhar')">
		     		EID :  <input type="radio" name="Aadhaar_EID"  [(ngModel)]="Aadhaar_EID" value="eid" (click)="set_aadhar_eid('EID')">

		      <!-- <mat-form-field class="example-full-width xl">
		        <mat-select placeholder="Aadhaar/EID" name="Aadhaar/EID" [(ngModel)]="Aadhaar_EID"  >
				    <mat-option *ngFor="let AE of aadharEID" [value]="AE.value">
				      {{ AE.value }}
				    </mat-option>
				  </mat-select>
		      </mat-form-field> -->
		     </div>
		    <div class="col-md-3" *ngIf="aadharDiv">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="Aadhar Number" name="Aadhar_Number" [(ngModel)]="Aadhar_Number"  maxlength="12" minlength="12">
		      </mat-form-field>	
		    </div>

		    <div class="col-md-3" *ngIf="EIDDIV">
		      <mat-form-field class="example-full-width xl">
		        <input matInput placeholder="EID" name="EID" [(ngModel)]="EID"  >
		      </mat-form-field>	
		    </div>

		     <div class="col-md-3">
		     	<mat-form-field class="example-full-width xl">
			      <mat-select placeholder="RA Address" name="RAaddressx" [(ngModel)]="RAaddressx"  >
					   <mat-option *ngFor="let RAadd of RAaddress" [value]="RAadd.value">
					      {{ RAadd.viewValue }}
					    </mat-option>
					  </mat-select>
				  </mat-form-field>
		     </div>
		   </div>

		   <div class="row">
	      	<div class="col-md-3">
		      <p>Proof of Identity</p>
		     </div>
		     <div class="col-md-6">
		     	<mat-form-field class="example-full-width xl">
			      <mat-select placeholder="Proof of Identity" name="POI" [(ngModel)]="POI"  >
					   <mat-option *ngFor="let POI of POIs" [value]="POI.value">
					      {{ POI.viewValue }}
					    </mat-option>
					  </mat-select>
				  </mat-form-field>
		     </div>
		     <div class="col-md-3" *ngIf="isAdmin">
		       
				  <a href="/annexure" target="_blank"><button type="button" mat-raised-button color="accent">Generate Annexure-A Certificate</button> </a>
		      
		     </div>
		    <!--  <div class="col-md-2">
		      
		        <input type="file"  name="POI_file" [(ngModel)]="POI_file">
		    
		     </div> -->

		    
		   </div>
		   <br>
		   <div class="row">
	      	<div class="col-md-3">
		      <p>Proof Of Address</p>
		     </div>
		     <div class="col-md-6">
		     	<mat-form-field class="example-full-width xl">
			      <mat-select placeholder="Proof of Address" name="POA" [(ngModel)]="POA"  >
					   <mat-option *ngFor="let POA of POAs" [value]="POA.value">
					      {{ POA.value }}
					    </mat-option>
					  </mat-select>
				  </mat-form-field>
		     </div>
		     <div class="col-md-3" *ngIf="isAdmin">
		      <a href="/domicile" target="_blank"><button type="button"  mat-raised-button color="accent">Generate Domicile Certificate</button> </a>
		     </div>
		    <!--  <div class="col-md-2">
		  
		        <input type="file"  name="POA_file" [(ngModel)]="POA_file">
		    
		     </div> -->
		    
		   </div>
		   <br>
		   <div class="row">
	      	<div class="col-md-3">
		      <p>Proof Of DOB</p>
		     </div>
		     <div class="col-md-6">
		      <mat-form-field class="example-full-width xl">
		        <mat-select placeholder="Proof of Birth" name="POB" [(ngModel)]="POB"  >
					   <mat-option *ngFor="let POB of POBs" [value]="POB.value">
					      {{ POB.value }}
					    </mat-option>
					  </mat-select>
		      </mat-form-field>
		     </div>
		     <div class="col-md-2">
		       
		        <input type="file"  name="file" [(ngModel)]="file" (change)="fileUpload($event)" accept=".pdf" >
		      
		     </div>
		    
		   </div>
		   <div class="row">
		     <div class="col-md-3">
		      <mat-form-field class="example-full-width xl">
		        <mat-select placeholder="Processing Fees" name="fees" [(ngModel)]="fees"  required>
					   <mat-option *ngFor="let fees of processingFees" [value]="fees.value">
					      {{ fees.value }}
					    </mat-option>
					  </mat-select>
		      </mat-form-field>
		     </div>
		     <div class="col-md-4">
		     	Permanent Address<br>
		     	<textarea cols="45" placeholder=" Permanent Address " name="permanent_address" [(ngModel)]="permanent_address"></textarea>
		     </div>
		     <div class="col-md-1">

		     	<input type="checkbox" name="copyAddress" value="" (change)="copyAddress($event)" >
		     	<small>(Permanent Address & Dispatched Address are same)</small>
		     </div>
		     <div class="col-md-4">
		     	Card Dispatch Address<br>
		     	<textarea cols="45" placeholder=" Card Dispatch Address "  name="dispatched_address" [(ngModel)]="dispatched_address" ></textarea>
		     </div>
		    
		   </div>

		   <div class="row">
		   	 <div class="col-md-2">
		   	 
		     	<input matInput type="checkbox" name="acknowledgement_no_generated" value="" [(ngModel)]="acknowledgement_no">
		     	<small>(Acknowledgement No Generated)</small>
		     </div>

		     <div class="col-md-3">
		      <mat-form-field class="example-full-width xl">
		        <input matInput type="text" name="acknowledgement_no" value="" [(ngModel)]="acknowledgement_no" placeholder="Acknowledgement No">
		      </mat-form-field>
		     </div>

		     <div class="col-md-2">
		     	<input matInput type="checkbox" name="pancard_no_generated" value="" [(ngModel)]="pancard_no" >
		     	<small>(Pancard No Generated)</small>
		     </div>

		     <div class="col-md-3">
		      <mat-form-field class="example-full-width xl">
		        <input matInput type="text" name="pancard_no" value="" [(ngModel)]="pancard_no" placeholder="Pancard No">
		      </mat-form-field>
		     </div>

		    
		   </div>

	     
		   <br>
		   <div class="row">
		   		<div class="col-md-12">
		   		<div class="pull-right" >
		   			<button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">Update</button>
		   			<!-- <button  mat-raised-button color="primary" type="submit" [disabled]="!f.valid">Submit</button> -->
		   		</div>
		   		</div>
		   </div>

 
	    

	      <!-- <mat-form-field class="example-full-width">
	        <input matInput placeholder="Email" [formControl]="emailFormControl">
	        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError(' ')">
	          Please enter a valid email address
	        </mat-error>
	        <mat-error *ngIf="emailFormControl.hasError(' ')">
	          Email is <strong> </strong>
	        </mat-error>
	      </mat-form-field> -->
	    </form>

  </div>
  
</div>
</div>
</div>

<br><br>


