<div class="container-fluid">
	<div class="row" style="box-shadow: 0 0 4px #8c8c8c;">
		<div style="padding-top: 10px;">
		<div class="col-md-3 col-sm-12 col-sm-12 center" >
			<b>Soundarya Mahal</b>
			<br>
			<small> Doddaballapur, Bangalore</small>
			<br>
			<b> AGNYATHAVASI</b>
		</div>
		<div class="col-md-2 col-sm-12 col-sm-12 center" >
			<mat-form-field>
			  <mat-select [(value)]="selected">
			    <mat-option>None</mat-option>
			    <mat-option value="option1">10:15 AM</mat-option>
			    <mat-option value="option2">Option 2</mat-option>
			    <mat-option value="option3">Option 3</mat-option>
			  </mat-select>
			</mat-form-field>
		</div>
		<div class="col-md-3 col-sm-12 col-sm-12 center" >
			<div class="col-md-2">
				<span class="material-icons">event_seat</span>
				
			</div>
			<div class="col-md-10">
				<small>A1, A2</small>
			</div>
		</div>

		<div class="col-md-2 col-sm-12 col-sm-12 center" >
			<div >
			<h4>₹ <span>240.00</span></h4>

			</div>
		</div>
		<div class="col-md-2 col-sm-12 col-sm-12 center" >

			<button mat-raised-button color="primary" style="margin-top: 5px">Proceed</button>
		</div>
	</div>
	</div>
	<div class="row" style="text-align: center;">
		<div style="margin-top: 10px">
			<div class="col-md-3">
				<span class="material-icons" style="color:#00c1ff">event_seat</span><br>
				<small>Available</small>
			</div>
			<div class="col-md-3">
				<span class="material-icons" style="color:yellow">event_seat</span><br>
				<small>Currently Blocked</small>
			</div>
			<div class="col-md-3">
				<span class="material-icons" style="color: grey">event_seat</span><br>
				<small>Unavailable</small>
			</div>
			<div class="col-md-3">
				<span class="material-icons" style="color: green">event_seat</span><br>
				<small>Your Seats</small>
			</div>
			
		</div>
	</div>

</div>

<div class="container">
	<div style="text-align: center;margin-top: 10px">
		<h3>Balcony : ₹ 150</h3>
		<hr>
	</div>
	<div class="row">
		
	
		<div style="font-size: 0.5em;text-align: center">
			<table class="table-responsive" style="width: 100%">
				<tr>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
				</tr>
				<tr>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
				</tr>
				<tr>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
				</tr>
				<tr>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
				</tr>
				<tr>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
				</tr>
				<tr>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
				</tr>
			</table>
		</div>
		


	</div>

	<div style="text-align: center;margin-top: 10px">
		<h3>Second Class : ₹ 100</h3>
		<hr>
	</div>
	<div class="row">
		
		<div style="font-size: 0.5em;text-align: center">
			<table class="table-responsive" style="width: 100%">
				<tr>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
				</tr>
				<tr>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
				</tr>
				<tr>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
				</tr>
				<tr>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
				</tr>
				<tr>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
				</tr>
				<tr>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats empty">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
					<td><span class="material-icons blue select-seats seats">event_seat</span></td>
				</tr>
			</table>
		</div>


	</div>
</div>

<br><br>



