.green{
	color:green;
}
.blue{
	color: #00c1ff;
}

.seats{
	padding:5px;
	font-size: 18px; 
	
}

.select-seats{
	cursor: pointer;
}

.select-seats:hover{
	cursor: pointer;
	color: green;
}

.empty{
	    visibility: hidden;
}

.center{
	text-align: center;
}